.sity-nav
  @extend %centr
  position: relative
  // overflow-x: hidden
  +media(sm)
    padding-right: 0
    padding-left: 0
    margin-right: 0
    margin-left: 0

.navLimiter
  // width: 500px
  overflow-x: scroll
  -webkit-overflow-scrolling: touch
  padding-bottom: 17px
  margin-bottom: -17px
  margin-right: -$glob-padding2 * 1px
  +media(lg)
    padding-bottom: 0
    margin-bottom: 0
    overflow-x: hidden


.navWrapper
  overflow: hidden
.nav
  // position: absolute
  display: flex
  padding-top: 16px
  padding-bottom: 16px
  width: 500px
  font-size: 18px
  +media(lg)
    flex-basis: 305px
    line-height: 56px
    display: flex
    flex-direction: column

  &-item + .nav-item
    margin-left: 12px
    +media(lg)
      margin-left: 0
      +border

  .nav-item
    @extend %trans
    +media(lg)
      font-size: 18px
      margin-left: 40px
      line-height: 56px

    &:hover a,&:active a
      color: $color2

      @extend %trans
.active > a
  color: $color2
