.content
  @extend %centr

  h2
    font-size: 24px
    font-weight: bold
    letter-spacing: -0.1px
    margin-bottom: 16px
    +media(lg)
      margin-bottom: 24px

  p
    line-height: 1.5
    letter-spacing: normal
    flex-basis: 740px
    max-width: 740px
    +media(lg)
      font-size: 18px
      line-height: 1.67
  p + p
    margin-top: 16px
    +media(sm)
      margin-top: 24px

  +media(sm)
    padding-left: 0
    padding-right: 0
  +media(lg)
    margin-right: 0
    margin-left: 0
