.overlay-show
  display: none
  justify-content: center
  align-items: center
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.2)
  z-index: 1
  cursor: pointer

  .form-success
    display: none
    position: relative
    background-color: #fff
    border-radius: 8px
    width: 414px
    height: 324px
    border-radius: 8px
    box-shadow: 0 16px 24px 0 rgba(17, 17, 17, 0.2)
    display: flex
    flex-direction: column
    align-items: center
    .close-success
      position: absolute
      top: 26px
      right: 24px
      cursor: pointer
    .fa-times
      font-size: 18px

    img
      margin-top: 80px
      width: 96px
      height: 96px

    h3
      font-size: 24px
      font-weight: bold
      line-height: 1.33
      letter-spacing: -0.1px
      text-align: center
      margin-top: 36px
    p
      font-size: 18px
      line-height: 1.33
      letter-spacing: normal
      text-align: center
      margin-top: 8px

.fancybox-content
  width: 414px
  height: 324px
  border-radius: 8px
  box-shadow: 0 16px 24px 0 rgba(17, 17, 17, 0.2)
  cursor: initial !important
  overflow: hidden
  padding: 0
  animation: scroll-top 1s ease
  img
    position: relative
    margin-top: 80px
    width: 96px
    height: 96px
    left: 50%
    transform: translateX(-50%)

  h3
    font-size: 24px
    font-weight: bold
    line-height: 1.33
    letter-spacing: -0.1px
    text-align: center
    margin-top: 36px
  p
    font-size: 18px
    line-height: 1.33
    letter-spacing: normal
    text-align: center
    margin-top: 8px
.fancybox-is-open .fancybox-bg
  opacity: 0.2

@keyframes scroll-top
  0%
    transform: translateY(-40px)
    opacity: 0
  100%
    transform: translateY(0)
    // opacity: 1