// ==== Form ==== //
.form-section
  margin-top: 32px
  margin-bottom: 48px
  @extend %centr
  +media(sm)
    padding-right: 0
    padding-left: 0


.form
  border-radius: 8px
  background-image: linear-gradient(129deg, #ff7752, #fc69a6)
  color: #fff
  line-height: 1
  padding: 18px 16px 24px
  +media(sm)
    padding: 32px 40px 40px
    width: 414px

  input
    @extend %trans

  h3
    font-size: 18px
    font-weight: bold
    letter-spacing: -0.1px
    margin-bottom: 16px
    +media(sm)
      font-size: 24px
      margin-bottom: 24px

  .label
    display: block
    font-size: 14px
    font-weight: bold
    letter-spacing: normal
    margin-bottom: 8px

.group-input
  position: relative
.group-input + .group-input
  margin-top: 16px

.group-button
  margin-top: 24px
  +media(sm)
    margin-top: 40px

.check-input
  height: 40px
  border-radius: 4px
  background-color: #ffffff
  width: 100%
  padding-left: 12px
  padding-right: 12px
  position: relative

/* --- placeholder styling ---
input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input::placeholder
  opacity: 0.4
  color: #fff
  line-height: 1.5
  letter-spacing: -0.1px
  +media(sm)
    font-size: 18px

/* --- button form styling ---
.group-button
  display: flex
  button
    font-weight: bold
    line-height: 1.5;
    letter-spacing: -0.1px
    color: #ffffff
    border-radius: 24px
    border: solid 2px #ffffff
    padding: 9px 24px 7px
    display: block
    cursor: pointer
    @extend %trans
    +media(sm)
      font-size: 18px
      padding: 12px 28px
  button:hover, button:active
    opacity: 0.6
    @extend %trans
  button + button
    margin-left: 6px
    +media(sm)
      margin-left: 8px


// ---- Inpun field error ---- //
$error: #f13d3d
.errow-password
  display: none

input.error
  border: solid 2px $error
  @extend %trans
  background-image: url('../img/exclamation-circle-icon.svg')
  background-repeat: no-repeat
  background-size: 5%
  background-position: bottom 50% right 12px

.error-border
  border: solid 2px $error
  @extend %trans
.error-explamation-container
  display: none
  position: absolute
  right: 16px
  top: 33px
.error-explamation
  position: relative
  color: $error
  font-size: 11px
  &::after
    position: absolute
    top: -3px
    left: -7px
    content: ""
    width: 18px
    height: 18px
    display: block
    border-radius: 100%
    border: 2px solid $error

span.error
  color: #fff
  font-size: 14px
  margin-top: 9px
  font-weight: normal
  display: block

