aside.sity-nav.wrapper.navWrapper

  .navLimiter
    nav.nav(role='navigation')
      .nav-item.active
        a(href="") Amsterdam
      .nav-item
        a(href="") Copenhagen
      .nav-item
        a(href="") Helsinki
      .nav-item
        a(href="") Oslo
      .nav-item
        a(href="") Reykjavík
  //- .navLimiter
  //-   nav.nav(role='navigation')
  //-     ='\n'
  //-     a.nav-item(href="") Amsterdam
  //-     ='\n'
  //-     a.nav-item(href="") Copenhagen
  //-     ='\n'
  //-     a.nav-item(href="") Helsinki
  //-     ='\n'
  //-     a.nav-item(href="") Oslo
  //-     ='\n'
  //-     a.nav-item(href="") Reykjavík