article.content.wrapper
    h2 Amsterdam
    p The public transportation system of the Katowice and Silesian Metropolis consists of four branches-buses, trams and trolleybuses united in Zarząd Transportu Metropolitalnego as well as the regional rail. Additional services are operated by private companies and state-owned railways. Silesian Interurbans — one of the largest tram systems in the world, in existence since 1894. It spreads for more than 100 km and covers 14 districts of the Upper Silesian Metropolis.

    p Katowice Airport is the most significant — following only Chopin Airport in Warsaw — centre for air freight in Poland. The port is a hub for air freight for southern Poland. Katowice Airport serves courier companies such as DHL Express, TNT, FedEx and UPS who operate regular daily freight services to their European trans-shipment ports.