section.wrapper.form-section.max-width
  form.form#form(action="" method="post")
    h3.form__title Register now
    p.group-input
      label.label(for="emal") Email
      input.check-input(name="emal", type="email",  placeholder="Your email address", required)
    p.group-input
      label.label(for="phone") Phone number
      input.check-input(name="phone", type="tel", placeholder="Your mobile number", required)
    p.group-input
      label.label(for="password") Password
      input.check-input(name="password", type="password", minlength="4", placeholder="At least 4 characters", required)
      //- span.errow-password Password must contain at least 4 characters.
      .error-explamation-container
        i.fas.fa-exclamation.error-explamation

    p.group-button
      button(type="submit") Send
      button(type="reset") Reset