title #{page.title}
//- base(href="/")
meta(name="description", content=page.description)
meta(name="keywords" content=page.keywords)
meta(name="author", content=page.name)
meta(name="copyright" content=page.copyright)
meta(charset='utf-8')
meta(name="twitter:title" content=page.name)

//- old ie
meta(http-equiv="X-UA-Compatible", content="IE=edge")
//- Mobile Specific Metas
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")

//- The Open Graph protocol
meta(property='og:url', content='')
meta(property='og:title', content=page.title)
meta(property='og:description', content=page.description)
//- meta(property='og:image', content='/assets/images/fb.jpg')
//- meta(property="og:image:width", content="1200")
//- meta(property="og:image:height", content="630")

//- Icons
//- <!-- Для iPad 3 с Retina-экраном высокого разрешения: -->
link(href='img/favicon/apple-touch-icon-180x180.png', rel='apple-touch-icon', sizes='180x180')
//- <!-- Для других случаев - обычный favicon -->
link(href="img/favicon/favicon.png" rel="shortcut icon")
link(href='img/favicon/favicon.ico', rel='icon')

//- Styles
block style-link
	link(href="css/sanitize.css", rel="stylesheet")
	link(href="css/css_reset.css", rel="stylesheet")
	link(rel="stylesheet", href="css/jquery.fancybox.css")
	link(rel="stylesheet", href="css/jquery.fancybox.min.css")
	link(href="css/styles.css", rel='stylesheet')
script(src="https://kit.fontawesome.com/40cff29652.js")
//- Cookies
block cookies
	//- include ../partials/_cookies
