script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
//- script(window.jQuery || document.write('<script src="js/jquery-3.4.1.min.js"><\/script>'))
//- <script>window.jQuery || document.write('<script src="js/jquery-3.4.1.min.js"><\/script>')</script>

//- script(src="js/jquery.form-validator.min.js")
script(src="js/jquery.form.min.js")
script(src="js/jquery.validate.min.js")
script(src="js/jquery.fancybox.min.js")

script(src="js/scripts.js")