
block vars
  -
    page = {
      language: 'en',
      name: 'Transporters',
      title: 'Transporters',
      appTitle: 'Transporters',
      description: 'freight transportation',
      keywords: 'freight transportation',
      copyright: 'Transporters'
    }

doctype html

html(lang=page.language)
  block link
    //- -var selected = '' //default
    //- -var selectLang ='en' //default
  head
    include _head

    //- change page title
    //- block title

    //- Cookies
    //- block cookies


  //- insert body
  body(class="page-" + page.name)
    .content-container
      block menu
        include ../partials/_menu
      block header
      block main
      block footer
        include ../partials/_footer

    block script
      include _scripts


