.menu
  .menu__container.wrapper.max-width
    .logo
      img.logo__img(src="img/map-marker.svg", alt="")
      .logo__name: a(href="#") Transporters

    button.profile.menu-toggle
      i.fas.fa-bars

    .user-block
      button.profile-close
        i.fas.fa-times
      .user-container
        button.user.user-toggle Julia Woźniak
        i.fas.fa-angle-down

      .user-menu
        .user-menu__item
          a(href="#") My profile
        .user-menu__item
          a(href="#") Settings
        .user-menu__item
          a(href="#") Log out
