extends ../pug/template/_template

block menu
  include ../pug/partials/_menu
block header
  include ../pug/partials/_header

block main
  include ../pug/partials/_main

block footer
  include ../pug/partials/_footer

