<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Transporters
    meta(name="keywords" content='Keywords')
    link(type="image/png", href="img/favicon-big.png", rel="shortcut icon")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")
    link(href="css/sanitize.css", rel="stylesheet")
    link(href="css/css_reset.css", rel="stylesheet")
    link(href="css/style.css?v=1", rel='stylesheet')
  body
    header
    main
    footer