.footer
  margin-top: auto
  &__container
    @extend %centr
    padding-top: 16px
    padding-bottom: 24px
    @extend %border
    // border-top: 1px solid rgba(17, 17, 17, .1)
    display: flex
    justify-content: space-between
    align-items: center
    +media(lg)
      font-size: 18px

.copy, .task
  line-height: 1.75
