// .header
.img-container
  padding-top: 57%
  margin-top: $menu-height
  background-image: url("../img/pr4.jpg")
  +bg
  +media(sm)
    border-radius: 8px
    margin-top: $menu-height2
    padding-left: 20px
    padding-right: 20px


// .img-container
//   position: relative
//   padding-top: 67%
// .img-hero
//   position: absolute
//   left: 0
//   top: 0
//   width: 100%
//   height: 100%
//   background-image: url("../img/pr4.jpg")

//   +bg
//   +media(sm)
//     border-radius: 8px