@import main/city-nav
@import main/content
@import main/form


.main__container
  @extend %centr
  @extend %max-width
  +media(lg)
    padding-top: 40px
    display: flex
    flex-direction: row-reverse
    justify-content: space-between