.menu
  position: fixed
  width: 100%
  // max-width: 1366px
  background-color: #fff
  z-index: 1

  +media(sm)
    margin-right: -$glob-padding * 1px
    margin-left: -$glob-padding * 1px
    padding-left: 20px
    padding-right: 20px
.shadow-scroll
  box-shadow: 0px 0px 12px 0px #000000
  transition: all .3s

.menu__container
  display: flex
  justify-content: space-between
  align-items: center
  height: 54px
  position: relative
  @extend %centr
  +media(sm)
    height: 84px

.logo
  display: flex
  align-items: center

  &__img
    width: 13px
    margin-right: 7px

  &__name
    font-weight: bold
    letter-spacing: -0.1px
    font-size: 18px

.profile
  cursor: pointer

  +media(sm)
    display: none

  @extend %trans

  .fa-bars, .fa-times
    font-size: 18px

    @extend %trans

  &:hover .fa-bars, &:active .fa-bars
    color: $color2

    @extend %trans

.user-block
  display: none
  // display: flex
  align-items: center
  position: relative
  flex-direction: column
  align-items: flex-end
  background-color: #fff
  padding-left: 12px
  padding-right: 12px
  padding-bottom: 6px
  right: -16px
  top: 20px;
  border-radius: 4px
  +media(sm)
    display: flex
    top: 6px

.user-container
  display: flex
  align-items: center

.user
  font-size: 18px
  line-height: 1.33
  letter-spacing: -0.1px
  cursor: pointer
  margin-right: 6px
  background-color: #fff
  padding-left: 6px
  border-radius: 4px
  @extend %trans

  &:hover, &:active
    color: $color2

  +media(sm)
    display: block

  .fa-angle-down
    font-size: 14px
    padding-left: 6px
.flip
  transform: scaleY(-1)
.profile-close
  font-size: 18px
  width: 20px
  height: 20px
  cursor: pointer
  +media(sm)
    display: none
  &:hover .fa-times, &:active .fa-times
    color: $color2

    @extend %trans

.user-menu
  display: none
  // display: flex
  position: absolute
  top: 54px
  right: 0
  padding: 2px 16px
  width: 175px
  flex-direction: column
  background-color: #fff
  border-radius: 4px
  box-shadow: 0 16px 24px 0 rgba(17, 17, 17, 0.2)
  +media(sm)
    top: 27px

  &__item + &__item
    @extend %border

  &__item
    font-size: 18px
    font-weight: bold
    line-height: 1.33
    letter-spacing: -0.1px
    padding-top: 12px
    padding-bottom: 12px

    a
      @extend %trans

    &:hover a, &:active a
      @extend %trans

      color: $color2