// точка перехода для медиа-запросов
=media($width)
  @media screen and (min-width: $width)
    @content

// для фоновых изображений продукта и иконок
=bg
  background:
    repeat: no-repeat
    position: center
    size: cover

%trans
  transition: all 0.6s ease-in-out

%centr
  margin-right: auto
  margin-left: auto

%border
  border-top: 1px solid rgba(17, 17, 17, 0.1)

=border
  border-top: 1px solid rgba(17, 17, 17, 0.1)

// mixin for control point — random mediaquery

// breakpoints map
// grid-breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px, )
// media transition point

$xl: 1200px
$lg: 992px
$md: 768px
$sm: 576px

=media($size)
  @if $size == sm
    @media (min-width: 576px)
      @content
  @else if $size == md
    @media (min-width: 768px)
      @content
  @else if $size == lg
    @media (min-width: 992px)
      @content
  @else if $size == xl
    @media (min-width: 1200px)
      @content
  @else if $size == big-desktop-up
    @media (min-width: 1800px)
      @content

%img-responsive
  display: block
  max-width: 100%
  height: auto

%img-width
  width: 100%

%max-width
  max-width: 1366px