@import _mixins
@import _reset
@import _fonts

$color: #111111
$color2: rgba(17, 17, 17, 0.1)
$menu-height: 54px
$menu-height2: 84px
$glob-padding: 20
$glob-padding2: 16

html, body
  height: 100%
  color: $color
  font-size: 16px
  font-family: "HelveticaNeueCyr", sans-serif
  font-weight: normal
  line-height: 1.67

h1,h2,h3,h4,h5,h6,p
  margin: 0
  padding: 0

a
  font-weight: bold
  line-height: 1.33
  letter-spacing: -0.1px
  color: $color

// Footer always in the bottom
.header
  position: relative
  left: 50%
  transform: translateX(-50%)
.content-container
  display: flex
  flex-direction: column
  height: 100%
  @extend %centr
  +media(sm)
    padding-left: $glob-padding * 1px
    padding-right: $glob-padding * 1px


.max-width
  max-width: 1366px
  // @extend %centr

// 16px
.wrapper
  padding-right: $glob-padding2 * 1px
  padding-left: $glob-padding2 * 1px



@import _menu
@import _header
@import _main
@import _footer
@import main/form-success

.open
  display: flex
  @extend %trans
.close
  display: none
  @extend %trans